# jbrofuzz-specific files
*.db
temp/

# GitHub Java Template

*.class

# virtual machine crash logs, see http://www.java.com/en/download/help/error_hotspot.xml
hs_err_pid*

# svn:ignore properties from jbrofuzz.sf.net
.classpath
.fbprefs
.metadata
.pmd
.project
.settings

/target/
test.db
